button,
a {
  transition: color, background-color 0.3s;
  text-decoration: none;
  color: #517d25;
  transition: all 0.5s;
  font-weight: bold;
  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:hover {
    color: var(--primary-color);
  }
}

